@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

body {
    background-color: lightblue;
}

input {
    background-color: deeppink;
}

p {
    background-color: yellow;
}
h1 {
    background-color: green;
}
h2 {
    color: red;
    text-align: center;
}
